*{
    box-sizing: border-box;
}

.parent{
    width: 80%;
    background-color: bisque;
    margin: 0 auto;
    padding: 5em;
}

.child{
    background-color: beige;
    width : 750px;
    padding : 2em;
}